{# purpose of this template: offers admin index view #}
{% extends 'MUShareModule::adminBase.html.twig' %}
{% block title __('offers') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the offer section of the Share application.') }}</p>
{% endblock %}
