{# purpose of this template: companies admin index view #}
{% extends 'MUShareModule::adminBase.html.twig' %}
{% block title __('companies') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the company section of the Share application.') }}</p>
{% endblock %}
