{# purpose of this template: locations admin index view #}
{% extends 'MUShareModule::adminBase.html.twig' %}
{% block title __('locations') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the location section of the Share application.') }}</p>
{% endblock %}
